@mixin animation($duration, $from, $to, $delay, $name) {
    
  }

  /*
  @keyframes hero-entrance {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .hero-entrance {
  animation-name: hero-entrance;
  animation-duration: 1s;
  animation-timing-function: ease

  */