  $colorBtn: (
  blue: #0e6cff,
  orange: #ff8700,
  green: #4caf50
);

// usando una mappa come input occorrerà specificare due variabili per key e value
@each $key, $value in $colorBtn {
  .btn-#{$key} {
    background-color: $value;
  }
}