@mixin floating(){
    border-radius: 40px;
    box-shadow: darkgrey;
    border-color: azure;
}

@mixin grid(){
    display: flex;
}

@mixin button-transform {
    transition: all 0.2s ease-in-out;
    transform: scale(1);
  }
  
  